# 讀取本地端的CSV檔

In [24]:
import pandas as pd

In [4]:
df = pd.read_csv('20170327_tba_emp_class_log.csv', index_col=0)

# 讀取本地端的mysql

先利用pip安裝套件
c:\> pip install mysqlclient

In [20]:
# 匯入元件
import pymysql
db= pymysql.connect(host='localhost',user='python',password='python',db='cdcol')

In [21]:
# 設定指標
cursor = db.cursor()

In [22]:
# SQL語法
sql = "SELECT * from cds"

In [23]:
# 執行SQL
cursor.execute(sql)

3

In [17]:
# 取得執行結果
results = cursor.fetchall()

In [18]:
results

(('Beauty', 'Ryuichi Sakamoto', 1990, 1),
 ('Goodbye Country (Hello Nightclub)', 'Groove Armada', 2001, 4),
 ('Glee', 'Bran Van 3000', 1997, 5))

# 利用 pandas 讀取 mysql

In [28]:
df = pd.read_sql(sql, con=db)

In [29]:
df

                               titel         interpret  jahr  id
0                             Beauty  Ryuichi Sakamoto  1990   1
1  Goodbye Country (Hello Nightclub)     Groove Armada  2001   4
2                               Glee     Bran Van 3000  1997   5

# 將 pandas frame 寫入MYSQL
pd.io.sql.to_sql(thedataframe,'tablename', yconnect, schema='databasename', if_exists='append')
第一個參數thedataframe是需要導入的pd dataframe,
第二個參數tablename是將導入的數據庫中的表名
第三個參數yconnect是啟動數據庫的接口，pd 1.9以後的版本，除了sqllite，均需要通過sqlalchemy來設置
第四個參數databasename是將導入的數據庫名字
第五個參數if_exists='append'的意思是，如果表tablename存在，則將數據添加到這個表的後面

# 互動按鈕
可以實作成按鈕讀資料
http://u.camdemy.com/course/122/intro

In [30]:
from IPython.html.widgets import interact, interact_manual

In [38]:
def show():
    print(df)

In [39]:
show()

                               titel         interpret  jahr  id
0                             Beauty  Ryuichi Sakamoto  1990   1
1  Goodbye Country (Hello Nightclub)     Groove Armada  2001   4
2                               Glee     Bran Van 3000  1997   5

In [40]:
interact_manual(show);

                               titel         interpret  jahr  id
0                             Beauty  Ryuichi Sakamoto  1990   1
1  Goodbye Country (Hello Nightclub)     Groove Armada  2001   4
2                               Glee     Bran Van 3000  1997   5