# 讀網頁資料時,要注意DataFrame不一定只有一個區塊

In [1]:
import pandas as pd

In [2]:
df = pd.read_html("http://www.jithouse.com.tw/2016S4.html")

In [4]:
df[0]

                                   0                  1           2     3
0  2016年第八期 剪髮任我型 抽IPhone獎百萬 第四季得獎名單                NaN         NaN   NaN
1              頭獎 IPhone 6s 16G 每季3名                NaN         NaN   NaN
2                                 門市                 條碼        行動電話   身份證
3                               新竹忠孝  05661022143601024  0914***035  3536
4                               彰化和美  12561030133301048  0985***552  6801
5                               台南崇德  14461217201004019  0955***730  3881

In [5]:
df[0].columns=['門市','條碼','行動電話','身份證']

In [6]:
df[0] = df[0][3:6]

In [7]:
df[0]

     門市                 條碼        行動電話   身份證
3  新竹忠孝  05661022143601024  0914***035  3536
4  彰化和美  12561030133301048  0985***552  6801
5  台南崇德  14461217201004019  0955***730  3881